* {
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', sans-serif;
    font-size:16px;
    color:#04080F;
}

a, a:hover, a:visited, a:link, a:active {
    color:#1D2D44;
    font-weight:bold;
    text-decoration:none;
}

h1{
    font-size:30px;
    line-height:38px;
}

h2 {
    font-size:22px;
    line-height:28px;
}

h3 {
    font-size:24px;
}

nav {
    display:inline-block;
    position:fixed;
    width:100%;
    z-index:99;
}

.nav-bar, footer {
    background-color: #1D2D44;
    padding:5px 10px 5px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-profile-icon {
    height:40px;
    border-radius:150px;
    border:1px solid white;
}

.nav-links {
    background-color:#F0EBD8;
    display:none;
}

.nav-links ul {
    list-style:none;
    display:flex;
    justify-content: flex-end;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.nav-links ul li {
    margin:8px 10px 8px 10px;
    font-weight:bold;
}

.nav-hamburger {
    height:20px;
}

header {
    background-color:#78A1BB;
    display:inline-block;
    width:100%;
    line-height:22px;
    position:relative;
}

.header-banner {
    background-image:url('imgs/hero_bg.png');
    display:inline-block;
    background-size: 1000px;
    background-position:-50px -200px;
    background-repeat:no-repeat;
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    opacity:0.6;

}

.header-text {
    padding:7% 2% 15% 5%;
    position:relative;
    z-index:10;
}

header button {
    border-radius: 5px;
    padding:8px;
    background-color:#F0EBD8;
    border:1px solid #1D2D44;

}

main {
    padding-top:50px;
}

section {
    padding:5% 5% 10% 5%;
    line-height:1.4em;
}

.section-about {
    background-color:#C1CAD6;
}

.section-projects {
    padding:0px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.section-projects h3 {
    margin-left:5%;
    text-align:left;
    align-self: flex-start;
}

footer {
    color:white;
    font-size:13px;
    display:flex;
    justify-content: space-between;
    padding:8px;
}

.project {
    padding:0px;
    padding-bottom:10%;
    width:90%;
    display:inline-block;
}

.project img {
    width:100%;
}

.project h4 {
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size:18px;
    line-height:24px;
}

img.project-language {
    width:25px;
    height:25px;
}

.contact-icons, .contact-footer {
    display:flex;
    flex-direction:row;
    align-items:center;
}

img.contact-icon {
    width:25px;
    margin-right: 15px;
}

.contact-icon.footer {
    filter: invert(100%);
}

a.project-link {
    border:1px solid #1D2D44;
    border-radius:5px;
    text-decoration:none;
    padding:8px;
    background-color:#F0EBD8;
    font-weight:normal;
}

footer a , footer a:visited, footer a:link, footer a:active {
    color:white;
    text-decoration:none;
    font-weight:normal;
}

footer a:hover {
    text-decoration:underline;
}

.project-lang {
    height:25px;
}

.language-icons {
    margin-top:10px;
}